<section class="form-field">
  <div class="row">
    <div class="col-8">
      <div class="form-field-label" [ngClass]="{'required': required}">
        <ng-content select="label"></ng-content><span *ngIf="required" class="required-marker">*</span>
      </div>
      <div class="form-field-control">
        <ng-content></ng-content>
      </div>
    </div>
    <div class="col-2">
      <span *ngIf="!valid && showChevrons">
        <i class="fas fa-chevron-left error-states" style="margin-left: 3px"></i>
        <i class="fas fa-chevron-left error-states" style="margin-left: -5px"></i>
      </span>
    </div>
  </div>
  <div *ngIf="!valid" class="error-states error-container">
    {{errorMessage}}
  </div>
</section>
