<div [formGroup]="form">
  <h2 class="step">STEP 3</h2>
  <h1 class="mt-0">Self Registration Summary</h1>

  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed lacinia suscipit ligula sit amet pulvinar.
    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean efficitur et arcu
    a fringilla.</p>

  <section class="summary p-3">
    <div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Restriction:</div>
        <div class="col">Yes</div>
      </div>
    </div>
    <h2>Evacuee Information</h2>
    <div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Last Name:</div>
        <div class="col">Smith</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">First Name:</div>
        <div class="col">Anne</div>
      </div>
    </div>

    <h2>Evacuee Family Information</h2>
    <div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Last Name:</div>
        <div class="col">Smith</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">First Name:</div>
        <div class="col">Anne</div>
      </div>
    </div>

    <h2>Primary Address &amp; Contact Details</h2>
    <div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Apt /Suite/Building Number &amp; Street Address:</div>
        <div class="col">25 Street Rd</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">Community:</div>
        <div class="col">Victoria</div>
      </div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Province:</div>
        <div class="col">BC</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">Postal code:</div>
        <div class="col">V8S 3W4</div>
      </div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Country:</div>
        <div class="col">Canada</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">Telephone/Mobile:</div>
        <div class="col">250 567 8796</div>
      </div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Alternate Telephone/Mobile:</div>
        <div class="col">250 456 1234</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">Email Address:</div>
        <div class="col">anne@email.com</div>
      </div>
    </div>

    <h2>Mailing Address</h2>
    <div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Apt /Suite/Building Number &amp; Street Address:</div>
        <div class="col">25 Street Rd</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">Community:</div>
        <div class="col">Victoria</div>
      </div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Province:</div>
        <div class="col">BC </div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">Postal code:</div>
        <div class="col">V8S 3W4</div>
      </div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Country:</div>
        <div class="col">Canada</div>
      </div>
    </div>

    <h2>Additional Information</h2>
    <div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Dietary Requirements:</div>
        <div class="col">No</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">Medication:</div>
        <div class="col">Yes</div>
      </div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Pets:</div>
        <div class="col">No</div>
      </div>
    </div>

    <h2>Next Steps</h2>
    <div>
      <div class="primary-row form-row">
        <div class="col-md-4 font-weight-bold">Insurance:</div>
        <div class="col">No</div>
      </div>
      <div class="alt-row form-row">
        <div class="col-md-4 font-weight-bold">Supports:</div>
        <div class="col">Yes Food Accommodation</div>
      </div>

    </div>
  </section>

  <h3 class="blue-header">DECLARATIONS AND CONSENT</h3>
  <section class="padded-section">
    <div class="row">
      <div class="form-check">
        <input class="form-check-input" type="checkbox">
        <label class="form-check-label">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis
          porttitor
          scelerisque. Proin blandit suscipit ultrices. Proin dictum libero eget justo rhoncus sollicitudin. Curabitur
          velit lorem, malesuada sed tincidunt sed, semper non orci. Aliquam dapibus mi non tortor fermentum, in egestas
          leo vestibulum.</label>
      </div>
    </div>
  </section>


  <div class="mt-5 space-between">
    <section>
      <a [routerLink]="">
        <i class="far fa-trash-alt" style="margin-right: 5px"></i>Cancel &amp; Close
      </a>
    </section>
    <section>
      <a [routerLink]="" style="margin-right: 10px" (click)="back()">Back</a>
      <button class="btn btn-primary" (click)="next()">REGISTER</button>
    </section>
  </div>
</div>
