<section class="side-box">
  <section style="display: flex">
    <button mat-fab class="fab-button mat-elevation-z0">
      <mat-icon class="icon" aria-label="description icon">description</mat-icon>
    </button>
    <h2 [textContent]="title"></h2>
  </section>
  <p style="padding-top: 30px;">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce facilisis porttitor scelerisque. Proin blandit
    suscipit ultrices. Proin dictum libero eget justo rhoncus sollicitudin.
  </p>
  <div style="float: right;">
    <button class="btn btn-primary" routerLink="" tabindex="3">Learn More</button>
  </div>
</section>
