.side-box {
  max-width: 400px;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 45px;
  background-color: rgba(56, 89, 138, 1);
  border-bottom: 3px solid #fcba19 !important;
  h2,
  p {
      color: white;
  }
  h2 {
      font-size: 22px;
      margin-top: 0;
      margin-bottom: 30px;
  }
  .btn {
      background-color: #003366;
  }
}
